.tareaSprintModal_form {
    width: 30rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #dbead2;
    border-radius: 5px;
    justify-content: space-between;
}

.tareaSprintModal_title {
    font-size: 2rem;
}

.tareaSprintModal_input {
    height: 2rem;
    font-size: medium;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    align-items: center;
}

.tareaSprintModal_containerButtons {
    display: flex;
    justify-content: space-between;
}

.tareaSprintModal_error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}